@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animated grid background */
@keyframes symbolAppear {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  15% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

/* Animated win tiac tac toe - didn't made it how I wanted yet, see later */
@keyframes winner-pop {
  0% {
    transform: scale(1);
    background-color: transparent;
  }
  15% {
    transform: scale(1.04);
    background-color: rgba(196, 193, 199, 0.25)
  }
  40% {
    transform: scale(1.13);
    background-color: rgba(196, 193, 199, 0.25)
  }
  70% {
    transform: scale(1.04);
    background-color: rgba(196, 193, 199, 0.25)
  }
  100% {
    transform: scale(1);
    background-color: transparent;
  }
}

.winner-cell {
  animation: winner-pop 500ms ease-out;
}

/* Global base styles */
body {
  margin: 0;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}